# Node.js dependencies
node_modules/

# Compiled output
dist/

# Environment variables
.env

# Logs and debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Data files — игнорировать всё, кроме нужного
/src/data/*
!/src/data/permissions.json

# Бэкапы
*.bak
*.tmp